<div class="items_container">
  <div *ngFor="let item of items">
    {{item}}
  </div>
</div>
<app-pagination [totalItems]=1000 [itemsPerPage]=itemsPerPage [maxSize]=maxSize (onChange)="getPage($event)"></app-pagination>
<!-- <div class="maxSizePagination">
  <div>
    MaxSizePagination:
  </div>
  <select (change)="chageSizeItemsPagination($event.target.value)">
    <option *ngFor="let option of maxSizeItemsPagination" [value]='option'>{{option}}</option>
  </select>
</div>
<div class="maxSizePagination">
  <div>
    SizeItems:
  </div>
  <select (change)="chageSizeItems($event.target.value)">
    <option *ngFor="let option of maxSizeItems" selected="option === 50" [value]='option'>{{option}}</option>
  </select>
</div> -->